<lib-cart-drawer
      [items]="cartItems"
      [totalAmount]="cartTotal"
      [itemsCount]="cartItemsCount"
      [isOpen]="cartDrawerOpen"
      [showCheckoutModal]="showCheckoutModal"
      [showPaymentModal]="showPaymentModal"
      [currentOrder]="currentOrder"
      [paymentMethods]="paymentMethods"
      [selectedPaymentMethod]="selectedPaymentMethod"
      [isCheckingOut]="isCheckingOut"
      [isProcessingPayment]="isProcessingPayment"
      (drawerToggle)="cartDrawerOpen = $event"
      (quantityIncrease)="increaseQuantity($event)"
      (quantityDecrease)="decreaseQuantity($event)"
      (quantityChange)="updateQuantity($event.item, $event.value)"
      (itemRemove)="removeFromCart($event)"
      (checkoutOpen)="proceedToCheckout()"
      (checkoutClose)="closeCheckoutModal()"
      (orderNotesChange)="orderNotes = $event"
      (orderConfirm)="createOrder()"
      (paymentClose)="closePaymentModal()"
      (paymentMethodSelect)="selectPaymentMethod($event)"
      (cardTokenChange)="cardToken = $event"
      (paypalEmailChange)="paypalEmail = $event"
      (mockPaymentToggle)="togglePaymentMode()"
      (paymentConfirm)="processPayment()"
      [useMockPayment]="useMockPayment"
      (mockPaymentToggle)="onMockToggle($event)"
    />