HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore everything in resources/
src/main/resources/keys
src/main/resources/application-secrets.properties
src/main/java/com/mady/springboot_be/utils/Secret.java

# Ignore logs folder - log4j2
logs/

# Sensitive URLs configuration
**/SensitiveUrls.java
